---
import Base from "../layouts/Base.astro";
import Hero from "../sections/Hero.astro";
---

<Base>
  <main id="main" class="h-screen">
    <Hero />
  </main>
</Base>

<style is:global>
  html, body { height: 100%; overflow: hidden; }
</style>
